
<div class='main_page'>
  <div class='main_header'>
  <div class='app_name'>Questweet</div>
  <%#render  heder%>
  <% unless user_signed_in? %>
  <div class='user_menu'>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn'%>
    <%= link_to "Sign in", user_session_path, class: 'btn'%>
  </div>
    <% else %>
  <div class='user_menu'>
    <%= link_to 'ログアウト',  destroy_user_session_path, method: :delete, class: 'btn'  %> 
    <%= link_to current_user.nickname,  edit_user_path(current_user),  class: 'btn'  %>
    <%= link_to "質問をする",new_question_path ,  class: 'btn'%> 
  </div>
  <% end %>
</div>
<div class='question_list'>QUESTION LIST</div>
<% @question.each do |question|  %>
<p><%= link_to question.title , question_path(question),  class: 'question_btn'%></p>
<% end %>